.task {
  background-color: white;
  margin-bottom: 8px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.1);
  border: 1px solid #8e7d7220;
  border-radius: 5px;
  .task-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 14px;
    color: #454545;
    font-weight: 600;
    .task-menu-wrapper {
      color: #8D8D8D;
    }
  }
  .task-body {
    font-size: 12px;
    margin-top: 10px;
  }
  .task-priority {
    font-size: 14px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    .priority-label {
      padding: 0px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #454545;
      &.Low {
        background-color: lightgreen;
      }
      &.Medium {
        background-color: yellow;
      }
      &.High {
        background-color: red;
        color: #FFF;
        font-weight: bold;
      }
    }
  }
}

.task-menu {
  display: flex;
  z-index: 200;
  position: absolute;
  flex-direction: column;
  top: 40px;
  left: 150px;
  background-color: #FFF;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 175px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  ul, li {
    margin: 0;
    padding: 0;
  }  
  li {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
    &:hover {
      cursor: pointer;
      background-color: #dedede;
      transition: 0.3s ease;
    }
  }
}