.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
  .column {
    background-color: lightgray;
    padding: 10px;
    width: 25%;
    .column-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      .column-menu-icon-wrapper {
        display: flex;
        border-radius: 50px;
        transition: 0.4s ease;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
          background-color: #FFF;
          cursor: pointer;
          transition: 0.4s ease;
        }
        &.active {
          background-color: #FFF;
        }
      }
    }
    .column-menu-container {
      display: flex;
      position: relative;
    }
    h1 {
      font-size: 16px;
      font-weight: 600;
    }
    .task-wrapper {
      min-height: 200px;
    }
    .task {
      background-color: white;
      margin-bottom: 8px;
      padding: 10px;
      font-size: 12px;
    }
  }
}

.column-menu {
  display: flex;
  z-index: 200;
  position: absolute;
  flex-direction: column;
  top: 35px;
  left: 0;
  background-color: #FFF;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 175px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  ul, li {
    margin: 0;
    padding: 0;
  }  
  li {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
    &:hover {
      background-color: #dedede;
      transition: 0.3s ease;
    }
  }
}