#root {
  background-color: #E5CDBD;
  color: #636363;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  color: #8D8D8D;
  background-color: #FFF;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  .project-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 30px;
    justify-content: space-between;
    .board-menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .breadcrumb {
        font-size: 14px;
        color: #636363;
        gap: 8px;
        span {
          font-weight: 600;
          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: default;
        }
      }
      .board-menu-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        .board-icon {
          transition: 0.4s ease;
          &:hover {
            cursor: pointer;
            transition: 0.4s ease;
            transform: scale(1.1);
          }
          &.board-info {
            &:hover {
              color: #00C9AB;
            }
          }
          &.board-like {
            &:hover {
              color: #D94549;
            }
          }
          &.board-menu-icon {
            &:hover {
              color: #454545;
            }
          }
        }
      }
    }
    .board-header {
      display: flex;
      flex-direction: column;
      .board-title {
        h1 {
          font-size: 32px;
          color: #454545;
          font-weight: 700;
        }
      }
      .board-view-wrapper {
        display: flex;
        flex-direction: row;
        gap: 16px;
        font-size: 12px;
        margin: 5px;
        div {
          border: 1px solid #8e7d7220;
          border-radius: 10px;
          padding: 5px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.4s ease;
          height: 30px;
          &:hover, &.active {
            transition: 0.4s ease;
            font-weight: 600;
            cursor: pointer;
            background-color: #FE8E3D;
            border: none;
            color: #FAFAFA;
          }
        }
      }
      .board-view-wrapper {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
      .board-filters {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
    .board-content {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 16px;
      .add-column {
        display: flex;
        flex-direction: row;
        gap: 16px;
        font-size: 14px;
        background-color: #8e7d7220;
        height: 50px;
        width: 25%;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;
        transition: 0.4s ease;
        &:hover {
          cursor: pointer;
          background-color: #A55820;
          color: #FAFAFA;
          transition: 0.4s ease;
        }
      }
    }
  }
  .board-side-menu-wrapper {
    border-right: 1px solid #F2F2F2;
    height: calc(100vh - 60px);
    width: 80px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    .board-side-menu-hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .projects-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 16px;
      .project-icon {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #8e7d72;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .add-project-icon {
        color: #FFF;
        background-color: #8D8D8D;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
      }
    }
    .projects-config {
      display: flex;
      border: 1px solid #8e7d7220;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
    }
  }
}